@import url("https://unpkg.com/style.css/style.css");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

.container {
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40rem !important;
}

.error-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  padding: 1rem;
}
div.main-content {
  padding: 5%;
  /* padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%; */
  text-align: justify;
  /* to center  */
}

h2 {
  font-size: 1.3rem;
}
h4.main-heading {
  width: 100%;
  margin-top: 0;
}
p {
  width: 100%;
  font-size: 1rem;
}
.main-heading {
  color: blue;
}

#difficulty-lvl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  background-color: rgb(220, 221, 221);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.difficulty-lvl__title {
  font-size: 1rem;
  padding-right: 1rem;
  font-style: italic;
}
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-lr;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}
.hidden {
  display: none !important;
}

/* new css */

.loader-container {
  padding: 2rem;
  /* background: var(--bg); */
  color: var(--fg);
  /* font: 1em/1.5 sans-serif; */
  /* height: 100vh; */
  display: grid;
  place-items: center;
}
.loader-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(135, 135, 135);
  font-family: sans-serif;
  text-align: center;
}
.loader-description p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}
.loader-description span {
  font-size: 0.8rem;
  font-style: italic;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
