@import url("https://unpkg.com/style.css/style.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,100;1,400&family=Orbitron:wght@600&family=Unbounded&display=swap");
:root {
  --primary-color: #3d8aa4;
  --secondary-color: #543884;
  --tertiary-color: #e2f0f7;
  --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font: "Kanit", sans-serif;
}
body {
  overflow-y: scroll;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100px;
  font-family: var(--secondary-font);
}

.btn:hover {
  background-color: var(--secondary-color) !important;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dailyPhrase {
  font-weight: bold;
  font-family: var(--secondary-font);
}
#header {
  font-family: Impact, sans-serif;
  padding: 1.5rem 15px;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: space-between;
  background-color: var(--tertiary-color);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5);
}
#header p {
  margin: 0;
}

#header span {
  margin-right: 10px;
}
#remaininFeedbacks {
  font-size: 0.9rem;
  color: gray;
  font-family: var(--primary-font);
}
#header #header-username {
  font-family: Impact, sans-serif;
  color: var(--secondary-color);

  font-size: 1.2rem;
}
.instructions-container {
  padding: 5% 5%;
  font-size: 1rem;
  font-family: var(--primary-font);
}
.logoutIcon-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutIcon-container:hover {
  cursor: pointer;
  background-color: red !important;
}
.logoutIcon-container i {
  color: white;
}

.tooltip,
.tooltipUsername {
  position: relative;
}

.tooltip .tooltipText,
.tooltipUsername .tooltipUsernameText {
  visibility: hidden;
  font-family: sans-serif;
  font-weight: normal;
  background-color: #c2c0c0;
  color: #010101;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText,
.tooltipUsername:hover .tooltipUsernameText {
  visibility: visible;
  opacity: 1;
}

#getAbstract {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  font-size: 0.8rem;
  position: relative;
}
#getAbstract:hover {
  background-color: var(--primary-color);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40rem !important;
}

.closeBtn {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  /* margin: 1.9rem 15px; */
  /* padding: 10px; */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
}
.closeBtn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
.confirm-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(2, 80, 23, 0.514);
  padding: 1rem;
}

div.main-content {
  padding: 0 5%;
  text-align: justify;
}

h2 {
  font-size: 1.3rem;
}
h4.original-title,
h4.summary-title {
  width: 100%;
  /* margin-top: 0; */
  color: var(--secondary-color);
  margin: 1.25rem 0;
  font-size: 1.15rem;
}
p {
  width: 100%;
  font-size: 1rem;
}

#difficulty-lvl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  /* background-color: rgb(220, 221, 221); */
  /* background-color: var(--tertiary-color); */

  /* background-color: var(--primary-color);
  color: white; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  font-family: var(--secondary-font);

  /* to flow outside of the parent  */
  position: relative;
  left: -6%;
  width: 112%;
}
#difficulty-lvl_instructions {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: var(--primary-font);
}
.difficulty-lvl__title {
  font-size: 1rem;
  padding-right: 1rem;
  font-style: italic;
}
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-lr;
  width: 200px;
}

option {
  padding: 0;
}
input[type="range"] {
  width: 200px;
  margin: 0;
}

.loader-container {
  padding: 2rem;
  color: var(--fg);
  display: grid;
  place-items: center;
}
.loader-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(135, 135, 135);
  font-family: sans-serif;
  text-align: center;
}
.loader-description p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}
.loader-description span {
  font-size: 0.8rem;
  font-style: italic;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

/* Questions  */
/* #questionsSection {
  padding: 0 2rem;
  border: solid 1px #543884;
  border-radius: 15px;
}
#questionsSection,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#questionsSection > form > button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #543884;
  color: white;
  font-size: 0.8rem;
}
button:hover {
  cursor: pointer;
}
#askBtn {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #262254;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
#askBtn:hover {
  background-color: rgb(18, 18, 32);
}
#questionsSection > form > textarea {
  min-width: 250px;
  min-height: 150px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}
#questionsSection > h4 {
  font-size: 1.2rem;
}
#questionsSection > #answers {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  background-color: #9a77cf6a;
  width: 80%;
  padding: 1rem;
  border-radius: 15px;
} */

/* for login/singin page  */

#login-container {
  margin: 2.5rem 0;
}
h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  /* padding: 0; */
  text-align: center;
}

#login-container form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-container form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#login-container form input[type="text"],
#login-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-container form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #543884;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  color: rgba(255, 0, 0, 0.6);
  font-weight: bold;
  font-family: var(--secondary-font);
  margin: 1%;
  font-size: 1rem;
  padding: 1rem;
  opacity: 0;
  animation: fade-in 1s 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#message {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
}

/* FEEDBACK VALUES  */
.feedbackValue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* max-width: 400px; */
  /* margin: 0 auto; */
  position: relative;
  /* margin-bottom: 1.2rem; */
  padding: 1rem 1.2rem;
  background-color: var(--tertiary-color);
  font-family: var(--secondary-font);
}
.feedbackValue-container p {
  margin: 0;
  /* margin-top: 20px; */
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.checkboxgroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}
#feedbackValueForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
}
#feedbackValueForm > button {
  margin: 0;
}
#feedbackValueForm > div {
  display: flex;
  flex-direction: row;
}

.checkboxgroup label {
  display: block;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Create custom radio button style */
input[type="radio"]:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #43406c72;
  margin-right: 5px; /* Add spacing between the button and label */
}

/* Style the radio button when selected */
input[type="radio"]:checked:before {
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); /* Add shadow effect */
}

.feedbackText-container textarea {
  width: 350px;
  height: 200px;
  border: solid 1px;
  background-color: var(--tertiary-color);
  padding: 1rem;
  font-size: 1rem;
}
.feedbackText-container .feedbackText-description {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--secondary-font);
}
.feedbackText-container button {
  background-color: var(--secondary-color);
}
.feedbackText-container button:hover {
  background-color: var(--primary-color) !important;
}
#feedbackSubmisisonResult {
  padding: 1rem 1rem;
  /* text-justify: auto; */
  /* margin: 0 1%; */
  font-family: var(--secondary-font);
  color: green;
}
