@import url("https://unpkg.com/style.css/style.css");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40rem !important;
}

.error-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  padding: 1rem;
}
div.main-content {
  padding: 5%;
  text-align: justify;
}

h2 {
  font-size: 1.3rem;
}
h4.original-title,
h4.summary-title {
  width: 100%;
  margin-top: 0;
  color: rgb(72, 72, 255);

  font-size: 1.3rem;
}
p {
  width: 100%;
  font-size: 1rem;
}

#difficulty-lvl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  /* background-color: rgb(220, 221, 221); */
  background-color: hsl(7, 79.5%, 90%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.difficulty-lvl__title {
  font-size: 1rem;
  padding-right: 1rem;
  font-style: italic;
}
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-lr;
  width: 200px;
}

option {
  padding: 0;
}
input[type="range"] {
  width: 200px;
  margin: 0;
}

.loader-container {
  padding: 2rem;
  color: var(--fg);
  display: grid;
  place-items: center;
}
.loader-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(135, 135, 135);
  font-family: sans-serif;
  text-align: center;
}
.loader-description p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}
.loader-description span {
  font-size: 0.8rem;
  font-style: italic;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

/* Questions  */
#questionsSection,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#questionsSection > form > button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(100, 100, 193);
  color: white;
  font-size: 0.8rem;
}
button:hover {
  cursor: pointer;
}
#askBtn {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(1, 1, 3);
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
#askBtn:hover {
  background-color: rgb(18, 18, 32);
}
#questionsSection > form > textarea {
  min-width: 250px;
  min-height: 150px;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}
#questionsSection > #answers {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  background-color: rgb(179 179 203);
  width: 80%;
  padding: 1rem;
  border-radius: 15px;
}
